.app-container {
  max-width: 1320px;
  margin: 0 auto;

  .cv-container {
    min-height: 100vh;
    margin-top: 130px;
    display: flex;
    @media (max-width: 1300px) {
      display: block;
    }

    aside {
      flex: 0 0 400px;
      max-width: 400px;
      background-color: #8cf3dd;
      color: white;

      & > div {
        margin-top: 150px;
        width: 400px;
        z-index: 1;

        .ui.sticky {
          z-index: 1;
        }
      }

      @media (max-width: 1300px) {
        display: none;
      }

      .ui.header {
        color: white;
      }
    }

    section {
      flex: 1 0;
      margin: 170px 0 50px 0;
    }
  }
}
